@{
    ViewBag.Title = "Contato";
}
<main aria-labelledby="title">
    <h2 id="title">@ViewBag.Title.</h2>
    <h3>@ViewBag.Message</h3>

    <address>
        Av. Paulista<br />
        São Paulo, SP 01019-101<br />
        <abbr title="Telefone">Tel :</abbr>
        (11) 99999-9999
    </address>

    <address>
        <strong>Support:</strong>   <a href="mailto:suporte@markup.com">Support@markup.com</a><br />
        <strong>Marketing:</strong> <a href="mailto:marketing@markup.com">Marketing@markup.com</a>
    </address>
</main>